body{

    color: white;
    background-color:rgb(2, 28, 33);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
div{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}